src/test/resources/java-new-instance-operation.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <flow name="newInstanceNoArgs">
        <java:new class="#[vars.class]" constructor="#[vars.constructor]"/>
    </flow>

    <flow name="newInstanceWithArgs">
        <java:new class="#[vars.class]" constructor="#[vars.constructor]">
            <java:args>
                #[vars.args]
            </java:args>
        </java:new>
    </flow>

    <flow name="newInstanceWithConstructorWithArgs">
        <java:new class="#[vars.class]" constructor="#[vars.constructor]">
                <java:args>
                    #[vars.args]
                </java:args>
        </java:new>
    </flow>

    <flow name="newInstanceWithExplicitArgs">
        <java:new class="org.mule.extensions.java.model.CompositePojo" constructor="CompositePojo(CompositePojo)">
                <java:args>
                    #[child: {
                        name: 'firstChild',
                        childs: {}
                    }]
                </java:args>
        </java:new>
    </flow>

</mule>
