src/test/resources/java-plugins-integration.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <flow name="createEmptyPojo">
        <java:new class="org.mule.extensions.internal.model.CarDummyTest" constructor="CarDummyTest()"/>
        <java:invoke class="org.mule.extensions.internal.model.CarDummyTest" method="asMap()" instance="#[payload]"/>
    </flow>

    <flow name="createInitialisedPojo">
        <java:new class="org.mule.extensions.internal.model.CarDummyTest"
                  constructor="CarDummyTest(String, String, String, String)">
            <java:args>
                #[{
                doors: 'doors',
                wheels: 'wheels',
                windows: 'windows',
                engine: 'engine'
                }]
            </java:args>
        </java:new>
        <java:invoke class="org.mule.extensions.internal.model.CarDummyTest" method="asMap()" instance="#[payload]"/>
    </flow>
</mule>
